@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --main-bg: #272B33;
  --card-bg: #3C3E44;
  --main-font: #FFFFFF;
  --extra-font: #a5a6ab;
  --alive: green;
  --dead: red;
  --unknown: yellow;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  padding: 2.5rem 4rem;
  background-color: var(--main-bg);
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  gap: 20px;
  max-width: 660px;
  height: 260px;
  background-color: var(--card-bg);
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.image {
  height: 260px;
  width: 260px;
}

.name {
  color: var(--main-font);
  font-size: 2.1rem;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 2px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.dot--alive {
  background-color: var(--alive);
}

.dot--dead {
  background-color: var(--dead);
}

.dot--unknown {
  background-color: var(--unknown);
}

.status,
.species {
  color: var(--main-font);
  font-weight: bolder;
  font-size: 1.1rem;
}

.origin,
.first--seen {
  color: var(--extra-font);
  margin-bottom: 15px;
}

.load--button {
  padding: 15px 20px;
  border: solid 2px var(--extra-font);
  color: var(--main-font);
  border-radius: 20px;
  background-color: var(--main-bg);

  &:hover {
    background-color: var(--card-bg);
    transition: .3s;
    cursor: pointer;
  }

  &:active {
    transform: scale(0.85);
    box-shadow: 3px 2px 25px 1px rgba(0,0,0,0.25);
    transition: .3s;
  }
}